<div class="container">
		<div class ="well">
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Sign up</h>
		</div>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			  	<form class ="well">
				  	<div class ="span4">
				  		<br><br>
				  		<div class ="well">	
						  	<div ><%= f.label :email %><br />
						 	<%= f.email_field :email, :autofocus => true %></div>

						  	<div ><%= f.label :password %><br >
						  	<%= f.password_field :password %></div>

						  	<div ><%= f.label :password_confirmation %><br />
						  	<%= f.password_field :password_confirmation %></div>

						  	<br><br>

						  
						  	<div class="btn"><%= f.submit "Sign up" %></div>
						
							<br><br>
							<div ><%= render "devise/shared/links" %></div>
						</div>
						
					</div>
				</form>
			<% end %>
		
</div>


