

	<table class="table table-striped">
    <tbody>  
      <tr id="task_<%= task.id %>">
        <td><%= task.id  %>
        	<div class="hidden" id="show_task_<%= task.id %>" %>
        		<%= render 'tasks/display', :task => task %>
        	</div>
        </td>
        <td><%= task.title %></td>
        <td><a href="#" class="task_show" data-task-id="show_task_<%= task.id %>">Show</a></td>
      </tr>
    </tbody>
  </table>
<script>
$(document).ready(function(){
  $('.task_show').click(function(){
  
    var task_id = $(this).data("task-id");
    $("#"+task_id).dialog();
    $(".ui-dialog #"+task_id).removeClass("hidden");
  });
});
</script>	

				<!-- <p>
				  <b>Description:</b>
				  <%= task.description %>
				</p>

				<p>
				  <b>Status:</b>
				  <%= task.status %>
				</p>

				<p>
				  <b>Due date:</b>
				  <%= task.due_date %>
				</p>

				<p> -->
			<!-- 	<%= link_to 'Edit', edit_project_task_path(task.project, task) %> |
				 <%= link_to 'Destroy Task', [task.project, task],
				               :confirm => 'Are you sure?',
				               :method => :delete %> -->
				<!-- </p> -->
