 <div class="container">
        <div class="nav-collapse">
          <ul class="nav">
            <p class ="well" style="font-family:arial;color:#C0C0C0;font-size:30px;">Listing Tasks</p>
          </ul>
      </div>

      <div class = "well">
          <table class="table table-striped">
             <thead>  
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Due date</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

            
              <% @tasks.each do |task| %>
              <tbody>
                <tr>
                  <td><%= task.title %></td>
                  <td><%= task.description %></td>
                  <td><%= task.status %></td>
                  <td><%= task.due_date %></td>
                  <td><%= link_to 'Show', project_task_path %></td>
                  <td><%= link_to 'Edit', edit_project_task_path(task) %></td>
                  <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                </tbody>
              <% end %>
            
          </table>

      <br />
      </div>

      <div class="nav-collapse">
          <ul class="nav">
              <p class ="well" style="font-family:arial;color:#C0C0C0;font-size:30px;"><%= link_to 'New Task', new_project_task_path %></p>
          </ul>
      </div>
</div>
  <%= params[:id] %>