<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



</head>

<body>
	<p>
		<% if user_signed_in? %>
			<li><%=link_to "Show my Projects", projects_path%></li>
			<li><%= link_to "Create Project", new_project_path %></li>
			<%else%>
			<%= link_to "Sign in to view Projects", new_user_session_path%>
			<%end%>
	</p>
	


	
</body>

