<body class="container">
		<div class ="well">	
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Project</h>
		</div>

		<div class ="well">	
			<p id="notice"><%= notice %></p>

			<p>
			  <b>Project id:</b>
			  <%= params[:id] %>
			</p>

			<p>
			  <b>Title:</b>
			  <%= @project.title %>
			</p>

			<p>
			  <b>Description:</b>
			  <%= @project.description %>
			</p>

			<p>
			  <b>Status:</b>
			  <%= @project.status %>
			</p>
			
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Tasks</h>


			<%= render @project.tasks %>
			 
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Add a task</h>
			<%= render "tasks/form" %>
						 
			<%= link_to 'Edit Project', edit_project_path(@project) %> |
			<%= link_to 'Back to Projects', projects_path %> |
		</div>

</body>