<!doctype html>
<html lang="en">
<head>

</head>

<body class="container">
		<div class ="well">	
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Project</h>
		</div>

		<div class ="well">	
			<p id="notice"><%= notice %></p>

			<p>
			  <b>Project id:</b>
			  <%= params[:id] %>
			</p>

			<p>
			  <b>Title:</b>
			  <%= @project.title %>
			</p>

			<p>
			  <b>Description:</b>
			  <%= @project.description %>
			</p>

			<p>
			  <b>Status:</b>
			  <%= @project.status %>
			</p>

			<br>
			
			<h style="font-family:arial;color:#C0C0C0;font-size:30px;">Tasks</h>
			 <br><br>


			<table class="table table-striped">	 
				<thead>  
		      <tr>
		      	<th>Id</th>
		        <th>Title</th>
		        <th>Remarks</th>
		      </tr>
		    </thead>
	  	</table>

				<%= render @project.tasks %>

				<br>
				 
				<!-- <h style="font-family:arial;color:#C0C0C0;font-size:30px;">Add a task</h> -->
				<br>
				<!-- <%= render "tasks/form" %> -->
							 
				<%= link_to 'Edit Project', edit_project_path(@project) %> |
				<%= link_to 'Back to Projects', projects_path %> |
			</div>

			<div class="toggler">
				<div id="effect" class="ui-widget-content ui-corner-all">
					<%= render "tasks/form" %>
				</div>

				<a href="#" id="button" class="ui-state-default ui-corner-all">Add a task</a>
			</div>

	</body>
</html>