<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Project Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

 	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css" />
	<style>
		.toggler { width: 500px; height: 200px; }
		#button { padding: .5em 1em; text-decoration: none; }
		#effect { width: 240px; height: 535px; padding: 0.4em; position: relative; }
		#effect h3 { margin: 0; padding: 0.4em; text-align: center; }
	</style>

	<script>
		$(function() {
		// run the currently selected effect
		function runEffect() {
		// get effect type from
		var selectedEffect = "bounce"
		// most effect types need no options passed by default
		// <option value="blind">Blind</option>
		// <option value="bounce">Bounce</option>
		// <option value="clip">Clip</option>
		// <option value="drop">Drop</option>
		// <option value="explode">Explode</option>
		// <option value="fold">Fold</option>
		// <option value="highlight">Highlight</option>
		// <option value="puff">Puff</option>
		// <option value="pulsate">Pulsate</option>
		// <option value="scale">Scale</option>
		// <option value="shake">Shake</option>
		// <option value="size">Size</option>
		// <option value="slide">Slide</option>
		var options = {};
		// some effects have required parameters
		if ( selectedEffect === "scale" ) {
		options = { percent: 100 };
		} else if ( selectedEffect === "size" ) {
		options = { to: { width: 280, height: 185 } };
		}
		// run the effect
		$( "#effect" ).show( selectedEffect, options, 500, callback );
		};
		//callback function to bring a hidden box back
		function callback() {
		setTimeout(function() {
		$( "#effect:visible" ).removeAttr( "style" );
		}, 1000 );
		};
		// set effect from select menu value
		$( "#button" ).click(function() {
		runEffect();
		return false;
		});
		$( "#effect" ).hide();
		});
	</script>

		<!-- for tree -->
		<!-- CSS Files -->
		<link type="text/css" href="Spacetree.css" rel="stylesheet" />

		<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

		<!-- JIT Library File -->
		<script language="javascript" type="text/javascript" src="jit-yc.js"></script>

		<!-- Example File -->
		<script language="javascript" type="text/javascript" src="example1.js"></script>

</head>

<body>

<div class="navbar navbar-fixed-top navbar-inverse">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"><%= link_to image_tag('project_tracker_logo_small.png',:size => "70x70"), root_path, id: "logo" %> </span>

	          <span class="icon-bar"></span>

	          <span class="icon-bar"><%= link_to "ProjectTracker", root_path, :class => 'brand' %></span>
	          
	        </a>

	        <div class="nav-collapse">
	          <ul class="nav">
	       			<ul class="nav" >
					  <% if user_signed_in? %>
					    <li class="divider-vertical">
					    <%= link_to('Logout', destroy_user_session_path, :method=>'delete')  %>
					    </li>

					    <li class="divider-vertical active"> 
					    
					    	<%= link_to('Signed in as ' + current_user.email ) %>
					    </li>
					  <% else %>
					    <li class="divider-vertical">
					    <%= link_to('Login', new_user_session_path)  %>
					    </li>
					  <% end %>
					  <% if user_signed_in? %>
					    <li class="divider-vertical">
					    <%= link_to('Edit account', edit_user_registration_path) %>
					    </li>
					  <% else %>
					    <li>
					    <%= link_to('Sign up', new_user_registration_path)  %>
					    </li>
					  <% end %>
					</ul>
	          </ul>
	        </div>
	      </div>
    </div>
  	</div>

<br><br><br>

<%= yield %>

</body>
</html>
